<h1>Register</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/auth/login" method="POST">

                        <div class="form-group">
                            <label for="name">Email/username</label>
                            <input type="text" class="form-control" id="username" name="identifier">
                        </div>


                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="*************"
                                name="password">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>