nav.nav.flex-column
  a.nav-link.active(href='/admin-dashboard') Dashboard
  a.nav-link.active(href='/apps') Apps
  a.nav-link(href='/users') Users
  a.nav-link(href='/admin-dashboard/settings') Settings