form(action="/auth/logout" method="POST" id="logout-form")
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') accounts.dokan.app
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.ml-auto.nav
      li.nav-item
        a.nav-link(href='javascript:void(0)' onclick="confirm('Sure to logout?') && document.getElementById('logout-form').submit()") Logout