if errorMsg != undefined
    .alert.alert-danger(role='alert')
        h1=errorMsg
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;