nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Accounts.dokan.app
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.nav
      li.nav-item
        a.nav-link(href='/auth/login') Login
      li.nav-item
        a.nav-link(href='/auth/register') Register
      li.nav-item
        a.nav-link(href='/auth/admin/login') Admin Login
      li.nav-item
        a.nav-link(href='/auth/admin/register') Admin Register
