mixin navItem(label, url)
  li.nav-item
    a.nav-link(href=url) #{label}

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Accounts.dokan.app
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto.nav
      +navItem("Login", "/auth/user/login")
      +navItem("Register", "/auth/user/register")

