doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title} | Dokan Accounts 
  link(rel='stylesheet' href='/css/bootstrap.css')
  link(rel='stylesheet' href='/css/app.css')
  block headerHook
  
include /partials/_alert.pug
include /partials/navbar.pug 

.container.my-4
  .row
    .col-md-12
      block body


script(src='/js/jquery-3.5.1.slim.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
block footerHook