extends layouts/main.pug

block body
    h1 Dokan
    h3 Complete ecommerce solution
    p
        | Dokan is an e-commerce platform that allows anyone to set up an online store and sell their products. Merchants can
        | also
        | sell their products in person with Dokan POS.
    p
        | The main objective of this project is to provide the complete solution for an e-commerce business. When someone needs
        | to
        | set up an online store for their company or just want to sell individual items like honey, jewelry, cosmetics etc,
        | all
        | they will need is to just open an account on the Dokan platform, put the product information, choose a predefined
        | design
        | then start selling.