include /partials/_input.pug

mixin PasswordForm()
    form(action="/user-dashboard/update-password" method="post")
        +Input({
            name: 'password',
            placeholder: 'New password',
            type: 'password'
        },errors)

        +Input({
            name: 'passwordConfirm',
            placeholder: 'Confirm password',
            type: 'password'
        },errors)

        button.btn.btn-success.btn-sm Update Password