extends ../../layouts/admin.pug

block body
    .container
        .row
            .col-md-6
                h4 Create new app
                form.my-4(action="/apps/store" method="POST")
                    .form-group
                        input.form-control(type="text" name="name" placeholder="App name" class= errors.name ? "is-invalid": "")
                        .invalid-feedback=errors.name
                    .form-group
                        input.form-control(type="text" name="redirectUrl" placeholder="Redirect url" class= errors.redirectUrl ? "is-invalid": "")
                        .invalid-feedback=errors.redirectUrl
                    .form-group
                        button.btn.btn-primary.btn-sm Save